<ion-content fullscreen>
	<ion-toolbar>
		<ion-segment slot="secondary">
			<ion-segment-button value="10" checked>
				<ion-label>十人团</ion-label>
			</ion-segment-button>
			<ion-segment-button value="5">
				<ion-label>五人团</ion-label>
			</ion-segment-button>
			<ion-segment-button value="2">
				<ion-label>两人团</ion-label>
			</ion-segment-button>
		</ion-segment>
		<ion-buttons slot="primary">
			<ion-button>
				<ion-icon slot="icon-only" name="list"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-content>
